body {
  margin: 0;
  padding: 0;
  background: #222;
}

#game {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto; /* centra el canvas horizontalmente */
  overflow: hidden;
}

canvas {
  display: block;
  /* ocupa todo el contenedor #game */
  width: 100%;
  height: 100%;
}
