#root {
  width: 100%;
  height: 100%;
}
#root,
.app-root {
  width: 100%;
  height: 100%;
}

.app-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}
